//base.scss
//Contains all the resets, variables and mixins

//# Variables

//## Colors
//### Primary
$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
//### Text
$white: white;
$transparentWhite: rgba(255, 255, 255, 0.8);

//## Typography
//### Headings
$headingFontStack: "Poppins", sans-serif;
$headingWeights: (
  medium: 400,
  semiBold: 600,
);
$headingSize: 1.5rem;
//### Body
$bodyFontStack: "Open Sans", sans-serif;
$bodyWeight: 400;
$bodySize: 1rem;

//## Breakpoints
$breakpoints: (
  mobileBreak: 820px,
);

//# Mixins
//Media queries
@mixin mediaQuery($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

//# Placeholders
//display flex column
%display-flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
%display-flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

//# Resets
/*Getting rid of default parameters*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font: $bodyWeight $bodySize $bodyFontStack;
  color: $transparentWhite;
  background: url("../images/bg-mobile.svg") no-repeat, $violet;
  background-size: contain;

  @include mediaQuery(mobileBreak) {
    background: url("../images/bg-desktop.svg") no-repeat, $violet;
    background-size: cover;
  }
}
