//base.scss
//Contains all the resets, variables and mixins

//# Variables

//## Colors
//### Primary
$violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

//## Typography
//### Headings
$headingFontStack: "Poppins", sans-serif;
$headingWeights: (
  medium: 400,
  semiBold: 600,
);
$headingSize: 3rem;
//### Body
$bodyFontStack: "Open Sans", sans-serif;
$bodyWeight: 400;
$bodySize: 1rem;

//## Breakpoints
$breakpoints: (
  mobilePortrait: 640px,
  tabletPortrait: 768px,
  tabletLandscape: 1024px,
  laptop: 1280px,
);

//# Mixins
//Media queries
@mixin mediaQuery($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

//# Resets
/*Getting rid of default parameters*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font: $bodyWeight $bodySize $bodyFontStack;
  background: url("../images/bg-mobile.svg") no-repeat, $violet;
}
