//layout.scss
@use "./base";

/*Everything that handles the layout*/
body {
  //background: lightblue;
  display: grid;
  grid-template-rows: 1fr auto 4fr 1fr;
  grid-template-areas:
    "header"
    "illustration"
    "main"
    "footer";

  @include base.mediaQuery(mobileBreak) {
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      "header header"
      "illustration main"
      "footer footer";
  }
}

header {
  //background: lightcoral;
  grid-area: header;
  @extend %display-flex-column;
  align-items: flex-start;

  .logo {
    max-width: 8.5rem;
    margin-left: 8%;

    @include base.mediaQuery(mobileBreak) {
      margin-left: 5%;
      max-width: 25%;
    }
  }
}

.illustration-container {
  //background: lightgoldenrodyellow;
  grid-area: illustration;
  @extend %display-flex-column;

  .illustration {
    max-width: 80%;
    min-width: 20rem;
    margin-top: 2rem;

    @include base.mediaQuery(mobileBreak) {
      max-width: 90%;
      min-width: 30rem;
      margin: 0;
    }
  }
}

main {
  //background: lightgreen;
  grid-area: main;
  @extend %display-flex-column;
  row-gap: 1em;
  text-align: center;
  padding: 9%;

  @include base.mediaQuery(mobileBreak) {
    padding: 0;
    padding-right: 10%;
    text-align: left;
    align-items: flex-start;
  }

  h1 {
    max-width: 60%;
  }
}

footer {
  //background: lightpink;
  grid-area: footer;
  @extend %display-flex-row;

  @include base.mediaQuery(mobileBreak) {
    justify-content: flex-end;
    padding-right: 10%;
  }
}
